{% extends 'home/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} signin {% endblock %}
{% block header %}

{% endblock %}
{% block content %}
<div class="container-fluid display-6" >
    <div class="row align-items-center">
        <div class="row justify-content-center">
            <div class="col-2">
                <form method="POST">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="submit" value="Войти" class="btn btn-primary " style="height: 40px; width: 280px;"/>                
                </form>
            </div>
        </div>
        
        <br> <br>
        <div class="row justify-content-center">
            <div class="col-2">
                <div class="linkToRegistration">
                    <a href="{% url 'registration' %}">Или зарегистрироваться</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block footer %}

{% endblock %}