{% extends 'db/layout_db.html' %}
{% load static %}
{% block title %} список записей {% endblock %}
{% block header %}
<!-- TODO сделать вывод списка сущностей -->
<div class="headerNavSignin-link">
    <a href="{% url 'create' %}">Добавить запись</a>
</div>
{% endblock %}
{% block content %}
<div class="content display-">
    <h1>Жильцы</h1>
    {% if ApartmentOwner.count > 0 %}
        {% for object in ApartmentOwner %}
            <div class="alert alert-warning">
                <h5>Имя владельца квртиры: {{ object.ownerName  }}</h5>
                <h5>Фамилия владельца квртиры: {{ object.ownerSurName }}</h5>
                <a href="{% url 'person-detail' object.id %}" class="btn btn-warning">Детальнее</a>
            </div>
        {% endfor %}
    {% else %}
        <p>У вас нет записей</p>
    {% endif %}
    
</div>
{% endblock %}