{% extends 'db/layout_db.html' %}
{% load static %}
{% block title %} список записей {% endblock %}
{% block header %}

{% endblock %}
{% block content %}
<div class="container-md fs-2">
    <div class="row align-items-center justify-content-center">
        <div class="col-8">
            <h1>Жильцы</h1>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col-8" >
            {% if apartmentOwner.count > 0 %}
            {% for object1, object2 in myZip %}
                <div class="col" style="padding-bottom: 25px;">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title h2">Житель: {{ object1.id }}</h5>
                            </div>
                            <p class="card-text">
                                <div class="row">
                                    <p>Имя владельца квртиры: <span class="fw-bolder">{{ object1.ownerName }}</span></p>
                                </div>
                                <div class="row">
                                    <p>Фамилия владельца квртиры: <span class="fw-bolder">{{ object1.ownerSurName }}</span></p>
                                </div>
                                
                                <div class="row">
                                    <p> Вид питомца: <span class="fw-bolder">{{ object2.petKind }}</span></p>
                                </div>
                                
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-5">
                                        <a href="{% url 'person-detail' object1.id %}" class="btn btn-primary btn-lg" style="width: 200px;">Детальнее</a>
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <p>У вас нет записей</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<div class="container-md">
    <div class="row justify-content-center">
        <div class="col-8">
            <a href="{% url 'create' %}" class="btn btn-primary btn-lg">Добавить запись</a>
        </div>
    </div>
</div>
{% endblock %}